extends splashlayout

block content
  script(src='./javascripts/google_maps')
  link(rel='stylesheet', href='/stylesheets/sidebar.css')
  include header
  
  div(id="wrapper")
    div(id="sidebar-wrapper")
      ul(class="sidebar-nav")
        li(class="sidebar-brand")
          a(href="#") Menu:
        li
          a(href="#") Park Overview
        li
          a(href="#") Create Post
        li
          a(href="#") View/Edit/Remove Post
        li
          a(href="#") View Map


    div(id="page-content-wrapper")
      div(class="container-fluid")
        div(class="row")
          div(class="col-lg-12")
            div .
        div(class="row")
          div(class="col-lg-4")
            div(class="row")
              h2 Create a new Post:
            div(class="row")
              h4 District:
              div(class='input-group input-group')
                span(class='input-group-addon') @
                input(type="text" class='form-control' placeholder="Post District...")
            div(class="row")
              h4 Type:
              div(class='input-group input-group')
                span(class='input-group-addon') #
                input(type="text" class='form-control' placeholder="Post Type...")
            div(class="row")
              h4 Title:
              div(class='input-group input-group')
                span(class='input-group-addon')
                input(type="text" class='form-control' placeholder="Post Title...")
            div(class="row")
              h4 Text:
              div(class='form-group')
                textarea(type="text" class='form-control' rows='6' placeholder="post information...")
            div(class="row")
              h4 Photo:
              button(class='btn btn-default') upload
            div(class="row")
              h4 Photo Author:
              div(class='input-group input-group')
                span(class='input-group-addon')
                input(type="text" class='form-control' placeholder="Photo Author...")
          div(class="col-lg-8")
            h2 Select geolocation point
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29427.15925803415!2d-156.15440098144995!3d20.716484400628573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7954b73425a04bd1%3A0x9c23fd88e8f5f4ca!2sHaleakal%C4%81+National+Park!5e1!3m2!1sen!2sus!4v1429366489577" width="600" height="450" frameborder="0" style="border:0")
        br
        div(class="row")
          div(class="col-lg-4")
          div(class="col-lg-4")
            div(class='row')
              button(class='btn btn-primary' style='display: block; width: 100%') Add Post
          div(class="col-lg-4")
          