extends splashlayout

block content
  link(href)
  body(data-spy='scroll', data-target='.navbar', hola-ext-player='1')
    #fb-root
      .navbar-wrapper
        .container
          .navbar-default.navbar-fixed-top.affix-top(role='navigation', data-spy='affix', data-offset-top='650', style='display: visible; visibility: visible;')
            .container
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  span.sr-only Toggle navigation     
                  span.icon-bar     
                  span.icon-bar     
                  span.icon-bar
                a.navbar-brand(href='') Trailblazer
              .navbar-collapse.collapse
                form(class="form-signin" method='POST' action="/login" id="signin-form")
                  ul.nav.navbar-nav
                    li.active
                      a(href='#home') Home
                    li
                      a(href='#about') Problem
                    li
                      a(href='#sponsors') Platform
                    li
                      a(href='#contact') Contact
                  ul.nav.navbar-nav.navbar-right
                    li
                      input(type="text" name='username' id='username' class="form-control" placeholder="Username" required="" autofocus="")
                    li
                      input(type="password" name='password' id='pw' class="form-control" placeholder="Password" required="")
                    li
                      button(class="btn btn-sm btn-primary btn-block" type="submit") Log In
    #home
      .coverimage
        img.logo(src='./images/logo.png')
        .inner
          h1.header(style='font-size:2.0em;') Trailblazer
    .firstimage
      .overlay
      .first_font
        p.header Sustaining our 
          b National Parks
        p.header(style='font-size : .7em;') The percentage of young people visiting National Parks is decreasing.
        p.header(style='font-size : .7em;') Our solution is to engage modern-day hikers with an exploration app that will bring an old-time sense of adventure back into the parks.
    #about
      .container.marketing
        .row
          .col-md-4
            img.img-circle(src='./images/team.png', alt='Generic placeholder image')  
            h2 Why?        
            p
              | National Parks depend on federal funding to keep operating. 
              | This funding is entirely based on the amount of visitors the park has.
              | If this younger generation is not caputred, in a couple of yeras, visitation rates will decline, which could lead to the closure of a park.
            p
          .col-md-4
            img.img-circle(src='./images/student.png', alt='Generic placeholder image')    
            h2 How?
            p
              | We live in a world where most of our information comes from the internet.
              | National Parks are home to an incredible amount of knowledge, but there hasn't been a way to effectively communicate this information.
              | By creating a platform that connects National Parks to hikers, we will be able to create a more effective and engaging learning environment within the parks.
              | This will create a more engaging experience for every visitor.
          .col-md-4
            img.img-circle(src='./images/award.png', alt='Generic placeholder image')
            h2 What?
            p
              | Trailblazer is an exploration platform that works through GeoLocation beacons.
              | Hikers using the app will receive a notification once they pass through that point.
              | The information provided will be relevant to the specific location that they are at!
              | Revelaing interest facts about their immediate environment.
              | Who knows, you might find that there was a Moose spotted there 2 days ago!
        .row
          .col-md-4
            img.img-circle(src='./images/laptop.png', alt='Generic placeholder image')
            h2 Ranger Website
            p
              | Our powerful andintuitive website will allow park adminitrators to click on the map to set the GeoLocation Point of park infromation. This allows parks to match interpretive data directly with it's location within the park, allowing hikers using the app to learn in context.
          .col-md-4
            img.img-circle(src='./images/binary.png', alt='Generic placeholder image')
            
            h2 Mobile App
            p
              | Before hikers enter a park, they will download a digital field journal on their phones. But there's a catch - it's completely empty! When hikers pass through a GPS point within the park, they will unlock a page in their field journal that contains information about their current location. Hikers will soon be on a park-wide scavenger hunt to complete their journals. 
          .col-md-4
            img.img-circle(src='./images/free.png', alt='Generic placeholder image')    
            h2 Cell Signal FREE!
            p 
              | Because the information is pre-loaded on the app, passing through a GPS point in the park will unlock the data via GPS technology. This means that no cell service is required, so you can enjoy Trailblazer anytime, anywhere!

    #schedule
        .schedimage
          .overlay
          | &#x9;&#x9;&#x9;
          .first_font
            p(style='font-size: 1.2em;') There&apos;s plenty to discover. Try it.
            | &#x9;&#x9;&#x9;&#x9;
            #sched-box-container
              .sched-box
                img.sched-box-image(src='./images/todo1.png', alt='Meditation')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.sched-font-heading(style='color: #53c8e9;') Connect with your Park
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.sched-font-body(style='color: #53c8e9;') Use the mobile app to get the most up to date information about the park and even leave comments on it.
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .sched-box
                img.sched-box-image(src='./images/todo2.png', alt='Trophy')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.sched-font-heading(style='color: #19b5cc;') The Park Experts
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.sched-font-body(style='color: #19b5cc;') Your information will come from the people the know the  parks best - The park Rangers.
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .sched-box
                img.sched-box-image(src='./images/todo3.png', alt='Football')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.sched-font-heading(style='color: #138ea0;') Geolocation Points
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.sched-font-body(style='color: #138ea0;') Discover information about wildlife, botany, history, geology, and cultural sites.
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .sched-box
                img.sched-box-image(src='./images/todo4.png', alt='Beach Walks')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.sched-font-heading(style='color: #13606b;') Fill your journal!
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.sched-font-body(style='color: #13606b;') Begin your park-wide adventure to complete your journal.
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .sched-box
                img.sched-box-image(src='./images/todo5.png', alt='Hacking')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.sched-font-heading(style='color: #353939;') Visit them all!
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                p.sched-font-body(style='color: #353939;') There's 59 National Parks to discover, what are you waiting for?

    
      #contact
        .contactimage
          .overlay
          |     
          .first_font
            p  Contact Us! 
            p(style='font-size:0.7em;')  eduardo.elizondorueda@gmail.com
            p(style='font-size:0.7em;')  joseph.bazydlo@gmail.com
            
  