extends layout

block content
  link(rel='stylesheet', href='/stylesheets/login.css')
  div(class="container")
    h1(class="form-signin-heading text-muted") TRAILBLAZER
      form(class="form-signin" method='POST' action="/login" id="signin-form")
        input(type="text" name='username' id='username' class="form-control" placeholder="Park Username" required="" autofocus="" title="Please enter your LU ID")
        input(type="password" name='password' id='pw' class="form-control" placeholder="Park Password" required="" title="Please enter your Voyager Password.")
        button(class="btn btn-lg btn-primary btn-block" type="submit") Log In